body {
    background-color: #f1e3cb
}
h1 {color: #581c0c
}
h3{color: #581c0c
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
/* this is how you comment out*/
